openapi: 3.1.0
info:
  title: AEGIS Agent Identity & Verification API
  version: 1.0.0
  description: |
    The AEGIS API provides verified identity, scoped authorization, and behavioral
    attestation for AI agents. Neutral, platform-agnostic, ACP-compatible.
  contact:
    email: dev@aegislabs.io
  license:
    name: Proprietary

servers:
  - url: https://api.aegislabs.io/v1
    description: Production
  - url: https://sandbox.aegislabs.io/v1
    description: Sandbox

tags:
  - name: Identity
    description: Agent registration and identity management
  - name: Policies
    description: Scoped permission policies
  - name: Verification
    description: Real-time agent verification (relying party endpoints)
  - name: Audit
    description: Audit log access
  - name: Reporting
    description: Behavioral signal reporting by relying parties

paths:
  # ─────────────────────────────────────────────────
  # IDENTITY
  # ─────────────────────────────────────────────────

  /agents/register:
    post:
      tags: [Identity]
      summary: Register a new agent identity
      description: |
        Creates a new agent identity record. The developer provides their Ed25519
        public key; AEGIS never holds the private key. Returns an agentId and
        a verification token for confirming the keypair.
      security:
        - ApiKeyAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AgentRegistrationRequest'
      responses:
        '201':
          description: Agent registered successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AgentRegistrationResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /agents/{agentId}:
    get:
      tags: [Identity]
      summary: Get agent identity details
      security:
        - ApiKeyAuth: []
      parameters:
        - $ref: '#/components/parameters/AgentId'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AgentIdentity'
          description: Agent details
        '404':
          $ref: '#/components/responses/NotFound'

    delete:
      tags: [Identity]
      summary: Revoke an agent identity
      description: Permanently revokes the agent. Cannot be undone.
      security:
        - ApiKeyAuth: []
      parameters:
        - $ref: '#/components/parameters/AgentId'
      responses:
        '204':
          description: Agent revoked
        '404':
          $ref: '#/components/responses/NotFound'

  /agents/{agentId}/status:
    get:
      tags: [Identity]
      summary: Get agent status and trust score (public endpoint)
      description: |
        Public endpoint — no API key required. Returns current status and
        trust score for a given agentId. Used by relying parties for quick
        pre-checks before calling /verify.
      parameters:
        - $ref: '#/components/parameters/AgentId'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AgentStatus'
          description: Agent status

  # ─────────────────────────────────────────────────
  # POLICIES
  # ─────────────────────────────────────────────────

  /agents/{agentId}/policies:
    post:
      tags: [Policies]
      summary: Create a scoped permission policy for an agent
      security:
        - ApiKeyAuth: []
      parameters:
        - $ref: '#/components/parameters/AgentId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PolicyCreateRequest'
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PolicyCreateResponse'
          description: Policy created

    get:
      tags: [Policies]
      summary: List active policies for an agent
      security:
        - ApiKeyAuth: []
      parameters:
        - $ref: '#/components/parameters/AgentId'
      responses:
        '200':
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/AgentPolicy'
          description: Active policies

  /agents/{agentId}/policies/{policyId}:
    delete:
      tags: [Policies]
      summary: Revoke a policy (instant)
      description: |
        Immediately invalidates the policy. Any subsequent /verify call
        referencing this policy will return valid: false.
      security:
        - ApiKeyAuth: []
      parameters:
        - $ref: '#/components/parameters/AgentId'
        - $ref: '#/components/parameters/PolicyId'
      responses:
        '204':
          description: Policy revoked

  # ─────────────────────────────────────────────────
  # VERIFICATION
  # ─────────────────────────────────────────────────

  /verify:
    post:
      tags: [Verification]
      summary: Verify an inbound agent token
      description: |
        Primary relying-party endpoint. Verifies the cryptographic signature,
        checks policy scope, validates spend limits, and returns the current
        BATE trust score. Target SLA: <80ms p99.
      security:
        - ApiKeyAuth: []
        - PublicVerifyKey: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/VerifyRequest'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VerifyResponse'
          description: Verification result (check `valid` field — 200 even when invalid)
        '400':
          $ref: '#/components/responses/BadRequest'
        '429':
          $ref: '#/components/responses/RateLimited'

  # ─────────────────────────────────────────────────
  # AUDIT
  # ─────────────────────────────────────────────────

  /agents/{agentId}/audit:
    get:
      tags: [Audit]
      summary: Retrieve audit log for an agent
      security:
        - ApiKeyAuth: []
      parameters:
        - $ref: '#/components/parameters/AgentId'
        - name: from
          in: query
          schema:
            type: string
            format: date-time
        - name: to
          in: query
          schema:
            type: string
            format: date-time
        - name: limit
          in: query
          schema:
            type: integer
            default: 100
            maximum: 1000
        - name: cursor
          in: query
          schema:
            type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuditLogResponse'
          description: Audit events

  # ─────────────────────────────────────────────────
  # REPORTING (relying party → BATE signal ingestion)
  # ─────────────────────────────────────────────────

  /agents/{agentId}/report:
    post:
      tags: [Reporting]
      summary: Report a behavioral signal about an agent
      description: |
        Relying parties use this to report fraud, anomalies, or policy
        violations. Signals feed directly into BATE and affect trust score.
        Verified relying parties are weighted more heavily.
      security:
        - ApiKeyAuth: []
      parameters:
        - $ref: '#/components/parameters/AgentId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ReportRequest'
      responses:
        '202':
          description: Report accepted (async processing)

  # ─────────────────────────────────────────────────
  # INTENT MANIFEST (ADR-0017, gated AEGIS_INTENT_MANIFEST_ENABLED)
  # ─────────────────────────────────────────────────

  /v1/intent:
    post:
      tags:
        - intent
      summary: Issue a signed intent manifest
      description: |
        Mint a signed `IntentManifest` declaring what the agent intends to
        do in the next 30-60 second window, bound to a verify-token jti.
        The relying party reconciles observed actuals against the manifest
        via POST /v1/intent/{manifestId}/actuals.

        Requires the management API key (NOT the verify-only key).
        Module is gated behind AEGIS_INTENT_MANIFEST_ENABLED — operators
        opt in via env flag (see ADR-0017).
      security:
        - ApiKeyAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/IssueIntentRequest'
      responses:
        '201':
          description: Manifest issued
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IssueIntentResponse'
        '400':
          description: Invalid request (e.g. ttlSeconds out of bounds [30, 60])
        '401':
          description: Authentication required
        '404':
          description: Agent not found (or not owned by caller — anti-enumeration)
        '409':
          description: Manifest id collision (retry with fresh id)
        '503':
          description: Signing service unavailable (KMS outage)

  /v1/intent/{manifestId}/actuals:
    post:
      tags:
        - intent
      summary: Reconcile observed actuals against a stored intent manifest
      description: |
        Idempotent per (manifestId, Idempotency-Key). Same key + same
        body returns the prior result (replay); same key + different
        body returns 409. Reconciliation outcome generates audit events
        (intent.reconciled, intent.mismatch) + BATE signals + webhooks.
      security:
        - ApiKeyAuth: []
      parameters:
        - in: path
          name: manifestId
          required: true
          schema:
            type: string
        - in: header
          name: Idempotency-Key
          required: true
          schema:
            type: string
          description: REQUIRED per ADR-0017. Scoped to the manifestId.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ReconcileIntentRequest'
      responses:
        '200':
          description: Reconciliation complete
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReconcileIntentResponse'
        '400':
          description: Invalid actuals shape OR missing Idempotency-Key header
        '404':
          description: Manifest not found (or cross-tenant — anti-enumeration)
        '409':
          description: Idempotency conflict (same key, different body)
        '410':
          description: Manifest expired OR already reconciled

  /v1/intent/{manifestId}:
    get:
      tags:
        - intent
      summary: Read a stored intent manifest + reconciliation outcome
      security:
        - ApiKeyAuth: []
      parameters:
        - in: path
          name: manifestId
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Manifest + reconciliation state
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetIntentResponse'
        '404':
          description: Manifest not found (or cross-tenant)

# ─────────────────────────────────────────────────
# COMPONENTS
# ─────────────────────────────────────────────────

components:
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: X-AEGIS-API-Key
    PublicVerifyKey:
      type: apiKey
      in: header
      name: X-AEGIS-Verify-Key
      description: Separate key for relying parties (read-only verify access)

  parameters:
    AgentId:
      name: agentId
      in: path
      required: true
      schema:
        type: string
        example: "agt_01HZ9YZXM4QT3B7P8WKJD6R5V"
    PolicyId:
      name: policyId
      in: path
      required: true
      schema:
        type: string
        example: "pol_01HZ9YZXM4QT3B7P8WKJD6R5V"

  responses:
    BadRequest:
      description: Invalid request
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    Unauthorized:
      description: Invalid or missing API key
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    NotFound:
      description: Resource not found
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    RateLimited:
      description: Rate limit exceeded
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'

  schemas:

    AgentRegistrationRequest:
      type: object
      required: [publicKey, runtime, principalId]
      properties:
        publicKey:
          type: string
          description: Ed25519 public key (base64url encoded)
          example: "MCowBQYDK2VwAyEA..."
        runtime:
          type: string
          enum: [openai, anthropic, google, custom]
        model:
          type: string
          example: "gpt-4o"
        principalId:
          type: string
          description: Your AEGIS principal (human/org) ID
        label:
          type: string
          description: Human-readable label for this agent
          example: "Shopping agent for erwin@klytics.io"

    AgentRegistrationResponse:
      type: object
      properties:
        agentId:
          type: string
          example: "agt_01HZ9YZXM4QT3B7P8WKJD6R5V"
        verificationToken:
          type: string
          description: Sign this with your private key to confirm keypair ownership
        trustScore:
          type: integer
          example: 500
          description: Starting score (500 = neutral)
        registeredAt:
          type: string
          format: date-time

    AgentIdentity:
      type: object
      properties:
        agentId:
          type: string
        publicKey:
          type: string
        principalId:
          type: string
        runtime:
          type: string
        model:
          type: string
        label:
          type: string
        status:
          type: string
          enum: [pending_verification, active, suspended, revoked]
        trustScore:
          type: integer
          minimum: 0
          maximum: 1000
        trustBand:
          type: string
          enum: [PLATINUM, VERIFIED, WATCH, FLAGGED]
        registeredAt:
          type: string
          format: date-time
        lastSeenAt:
          type: string
          format: date-time

    AgentStatus:
      type: object
      properties:
        agentId:
          type: string
        status:
          type: string
          enum: [pending_verification, active, suspended, revoked]
        trustScore:
          type: integer
        trustBand:
          type: string
          enum: [PLATINUM, VERIFIED, WATCH, FLAGGED]
        lastSeenAt:
          type: string
          format: date-time

    PolicyCreateRequest:
      type: object
      required: [scopes, expiresAt]
      properties:
        scopes:
          type: array
          items:
            $ref: '#/components/schemas/PolicyScope'
        expiresAt:
          type: string
          format: date-time
        label:
          type: string
          example: "Book flights under $500"

    PolicyCreateResponse:
      type: object
      properties:
        policyId:
          type: string
        signedToken:
          type: string
          description: JWT signed by AEGIS — attach to agent outbound requests
        expiresAt:
          type: string
          format: date-time

    AgentPolicy:
      type: object
      properties:
        policyId:
          type: string
        agentId:
          type: string
        label:
          type: string
          nullable: true
          description: Operator-supplied label for the policy (free-form, not interpreted).
        scopes:
          type: array
          items:
            $ref: '#/components/schemas/PolicyScope'
        status:
          type: string
          enum: [active, expired, revoked]
        createdAt:
          type: string
          format: date-time
        expiresAt:
          type: string
          format: date-time

    PolicyScope:
      type: object
      required: [category]
      properties:
        category:
          type: string
          enum: [commerce, data-read, data-write, communication, scheduling]
        spendLimit:
          type: object
          properties:
            currency:
              type: string
              enum: [USD, EUR, GBP]
            maxPerTransaction:
              type: number
              example: 500
            maxPerDay:
              type: number
              example: 1000
            maxPerMonth:
              type: number
              example: 5000
        merchantCategories:
          type: array
          items:
            type: string
          description: MCC codes (e.g. ["3000-3299"] for airlines)
          example: ["3000-3299", "5411"]
        allowedDomains:
          type: array
          items:
            type: string
          example: ["delta.com", "united.com"]
        dataScopes:
          type: array
          items:
            type: string
          example: ["read:email", "write:calendar"]
        validFrom:
          type: string
          format: date-time
        validUntil:
          type: string
          format: date-time

    VerifyRequest:
      type: object
      required: [token]
      properties:
        token:
          type: string
          description: Signed AEGIS token from the agent (JWT format)
        action:
          type: string
          example: "commerce.purchase"
        amount:
          type: number
          example: 450.00
        currency:
          type: string
          example: "USD"
        merchantId:
          type: string
          example: "delta-airlines"
        merchantDomain:
          type: string
          example: "delta.com"
        context:
          type: object
          additionalProperties: true
          description: Additional context for BATE scoring

    VerifyResponse:
      type: object
      properties:
        valid:
          type: boolean
        agentId:
          type: string
        principalId:
          type: string
        trustScore:
          type: integer
          minimum: 0
          maximum: 1000
        trustBand:
          type: string
          enum: [PLATINUM, VERIFIED, WATCH, FLAGGED]
        scopesGranted:
          type: array
          items:
            type: string
          example: ["commerce", "commerce.purchase"]
        spendRemaining:
          type: object
          properties:
            today:
              type: number
            thisMonth:
              type: number
        denialReason:
          type: string
          nullable: true
          description: |
            Only present when valid=false. The enum order below is the
            CANONICAL DENIAL PRECEDENCE (top wins) — see CLAUDE.md
            invariant 6 / ADR-0004 / packages/types DENIAL_REASON_PRECEDENCE.
            Relying-party SDKs depend on this order; do not reorder
            without a major API version bump.
            PLAN_LIMIT_EXCEEDED is a billing pre-gate that fires before the
            9-step algorithm chain — it is always position 0 in this enum.
          enum:
            - PLAN_LIMIT_EXCEEDED
            - AGENT_NOT_FOUND
            - AGENT_REVOKED
            - INVALID_SIGNATURE
            - POLICY_REVOKED
            - POLICY_EXPIRED
            - SCOPE_NOT_GRANTED
            - TRIAL_EXHAUSTED
            - SPEND_LIMIT_EXCEEDED
            - TRUST_SCORE_TOO_LOW
            - ANOMALY_FLAGGED
            - INTENT_MISMATCH
        verifiedAt:
          type: string
          format: date-time
        ttl:
          type: integer
          description: Seconds this result can be cached by relying party
          example: 30

    DenialReason:
      type: string
      description: |
        Canonical denial reason returned by the policy engine on
        `valid: false` responses. The engine
        (`apps/api/src/common/policy-engine/engine.interface.ts`) is the
        source of truth; relying-party SDKs (`packages/verifier-rp`) MAY
        carry a superset (e.g. `REPLAY_DETECTED` is client-cache-only and
        never returned by the API). Enum order below is the canonical
        DENIAL PRECEDENCE per ADR-0004 § "Denial Precedence".
        `PLAN_LIMIT_EXCEEDED` is a billing pre-gate that fires BEFORE the
        algorithm chain — it is documented inline on
        `VerifyResponse.denialReason` and is NOT enumerated here because
        the engine type does not include it. Reconciling that drift is
        tracked in the M-056 regression handoff.
        ADR-0016 added `INTENT_MISMATCH` as the canonical denial reason
        for intent-bound attestation failures (strict-mode reconciliation
        or breached `maxCalls` / `maxAmount` claims). Wire-locked across
        constants.ts ↔ verifier-rp ↔ this enum since 2026-05-15.
      enum:
        - AGENT_NOT_FOUND
        - AGENT_REVOKED
        - INVALID_SIGNATURE
        - POLICY_REVOKED
        - POLICY_EXPIRED
        - SCOPE_NOT_GRANTED
        - TRIAL_EXHAUSTED
        - SPEND_LIMIT_EXCEEDED
        - TRUST_SCORE_TOO_LOW
        - ANOMALY_FLAGGED
        - INTENT_MISMATCH

    AuditEvent:
      type: object
      properties:
        eventId:
          type: string
        agentId:
          type: string
          nullable: true
          description: Real agent FK; null when the verify call denied with AGENT_NOT_FOUND.
        claimedAgentId:
          type: string
          nullable: true
          description: Agent ID exactly as it appeared in the verify request — preserved even when no such agent exists, for forensic queries.
        principalId:
          type: string
        timestamp:
          type: string
          format: date-time
        action:
          type: string
          nullable: true
          description: Null after Art. 17 redaction; verify integrity via actionHash.
        actionHash:
          type: string
          description: base64url(sha256(action)) — committed to in the signed chain payload so the chain stays verifiable through GDPR erasure.
        relyingParty:
          type: string
          nullable: true
        decision:
          type: string
          enum: [approved, denied, flagged]
        decisionReason:
          type: string
          nullable: true
        trustScoreAtEvent:
          type: integer
        signature:
          type: string
          description: AEGIS signature over this event (immutability proof)

    AuditLogResponse:
      type: object
      properties:
        events:
          type: array
          items:
            $ref: '#/components/schemas/AuditEvent'
        nextCursor:
          type: string
          nullable: true
        total:
          type: integer

    ReportRequest:
      type: object
      required: [eventType]
      properties:
        eventType:
          type: string
          enum: [fraud_confirmed, anomaly, policy_violation, suspicious_behavior, false_positive]
        severity:
          type: string
          enum: [low, medium, high, critical]
          default: medium
        description:
          type: string
          maxLength: 1000
        transactionId:
          type: string
          description: Your internal transaction ID for correlation
        evidence:
          type: object
          additionalProperties: true
          description: Any additional signal data (IP, timestamps, amounts)

    Error:
      type: object
      properties:
        error:
          type: string
        message:
          type: string
        statusCode:
          type: integer
        requestId:
          type: string

    # ── Intent Manifest schemas (ADR-0017) ──────────────────────────

    IntentClaim:
      type: object
      required: [kind, maxCalls]
      properties:
        kind:
          type: string
          enum: [http-call, commerce-action, tool-invocation]
        maxCalls:
          type: integer
          minimum: 1
          description: |
            Upper bound on the number of actuals reconciled against
            this manifest. Strict mode denies on first overshoot;
            graduated mode tolerates up to floor(maxCalls * 1.2).
      additionalProperties: true
      description: |
        Discriminated union over three claim shapes. Per-shape fields
        (url+method, action+merchantId+amountCap, toolName+argsHash)
        are pass-through and validated by the kernel — see
        packages/intent-manifest types.ts § Section 2.

    ReconciliationPolicy:
      type: object
      required: [strictness]
      properties:
        strictness:
          type: string
          enum: [strict, advisory, graduated]
          description: |
            ADR-0016 D2. strict denies any mismatch; advisory logs
            only; graduated tolerates over-call-count up to
            floor(maxCalls * (1 + tolerance/100)), default 20%.
        tolerance:
          type: number
          minimum: 0
          description: |
            Only meaningful when strictness=graduated. Non-count
            mismatches always strict regardless of tolerance.

    SignedIntentManifest:
      type: object
      required: [body, signingKeyId, signatureB64Url]
      properties:
        body:
          type: object
          additionalProperties: true
          description: |
            IntentManifestBody. Fields:
            schemaVersion (1), manifestId, issuedAt, expiresAt,
            principalId, agentId, intent (IntentClaim), reconciliation
            (ReconciliationPolicy), verifyTokenJti,
            verifyTokenSha256B64Url.
        signingKeyId:
          type: string
        signatureB64Url:
          type: string

    IssueIntentRequest:
      type: object
      required: [agentId, verifyTokenJti, verifyTokenSha256B64Url, intent]
      properties:
        agentId:
          type: string
        verifyTokenJti:
          type: string
        verifyTokenSha256B64Url:
          type: string
        intent:
          $ref: '#/components/schemas/IntentClaim'
        reconciliation:
          $ref: '#/components/schemas/ReconciliationPolicy'
        ttlSeconds:
          type: integer
          minimum: 30
          maximum: 60
          description: Server clamps to [30, 60] per Phase 2 bounds (OD-019 may widen).

    IssueIntentResponse:
      type: object
      required: [manifestId, signedManifest, expiresAt]
      properties:
        manifestId:
          type: string
        signedManifest:
          $ref: '#/components/schemas/SignedIntentManifest'
        expiresAt:
          type: integer
          description: Unix epoch seconds.

    ActualCallObservation:
      type: object
      required: [observedAt, kind, payload]
      properties:
        observedAt:
          type: integer
          description: Unix epoch seconds when the relying party observed the actual.
        kind:
          type: string
          enum: [http-call, commerce-action, tool-invocation]
        payload:
          type: object
          additionalProperties: true

    ReconcileIntentRequest:
      type: object
      required: [actuals]
      properties:
        actuals:
          type: array
          items:
            $ref: '#/components/schemas/ActualCallObservation'

    IntentMismatch:
      type: object
      required: [kind, detail, detectedAt]
      properties:
        kind:
          type: string
          enum:
            - over-call-count
            - wrong-endpoint
            - wrong-method
            - wrong-merchant
            - over-amount-cap
            - arg-shape-mismatch
            - manifest-expired
            - manifest-not-yet-valid
        detail:
          type: string
        detectedAt:
          type: integer

    ReconcileIntentResponse:
      type: object
      required: [manifestId, actualCount, mismatches, recommendedDenialReason]
      properties:
        manifestId:
          type: string
        actualCount:
          type: integer
        mismatches:
          type: array
          items:
            $ref: '#/components/schemas/IntentMismatch'
        recommendedDenialReason:
          type: string
          nullable: true
          enum:
            - INTENT_MISMATCH
          description: |
            INTENT_MISMATCH on strict mode mismatch OR breached
            graduated tolerance. null on clean match OR advisory mode
            (nullable per OpenAPI 3 — `null` is permitted alongside
            the enum value but does NOT appear in the enum list).
        idempotencyReplay:
          type: boolean
          description: True if this call replayed an existing idempotency-key.

    GetIntentResponse:
      type: object
      required: [manifest, actuals, reconciliation, status]
      properties:
        manifest:
          $ref: '#/components/schemas/SignedIntentManifest'
        actuals:
          type: array
          items:
            $ref: '#/components/schemas/ActualCallObservation'
        reconciliation:
          oneOf:
            - $ref: '#/components/schemas/ReconcileIntentResponse'
            - type: 'null'
        status:
          type: string
          enum: [OPEN, RECONCILED, EXPIRED]
